In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
!wget https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv

--2024-12-13 08:58:34--  https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 133023 (130K) [text/plain]
Saving to: ‘student_data.csv’

student_data.csv    100%[===================>] 129.91K  --.-KB/s    in 0.02s

2024-12-13 08:58:34 (7.05 MB/s) - ‘student_data.csv’ saved [133023/133023]

In [4]:
#import titanic database form drive
df = pd.read_csv("student_data.csv")
df.head()
df.sample(5)

,id,first_name,last_name,email,gender,ip_address,cgpa,passing_year,department,attendance,home_district,abroad_study,student_id,graduation_date,study_abroad_country,study_abroad_city,hsc_gpa,ssc_gpa
561,562,Ethelda,Van De Cappelle,evandecappellefl@posterous.com,Non-binary,75.62.130.133,2.53,2019.0,Engineering,63.15,New York,False,562,2015,China,Dazhipo,5,4
294,295,Sada,Rocco,srocco86@youtube.com,Female,245.53.22.44,0.84,2014.0,Arts,65.27,New York,True,295,2020,Russia,Skopin,1,4
66,67,Clementine,Oldroyde,coldroyde1u@dell.com,Female,35.230.146.77,1.61,2014.0,Medicine,17.45,Los Angeles,False,67,2013,Peru,Pucyura,4,5
793,794,Agosto,Dunridge,adunridgem1@columbia.edu,Male,15.177.27.124,3.99,2009.0,Arts,NaN,Los Angeles,False,794,2001,China,Huzhen,4,4
799,800,Gillie,Chaunce,gchauncem7@slideshare.net,Female,132.27.74.72,0.96,2005.0,Engineering,32.94,Miami,False,800,2017,Thailand,Kosamphi Nakhon,4,2

1. find the students  who have a "passing_year greater than 2022.

In [6]:
filtered = df[df["passing_year"] > 2022]
print("Filtered Rows:\n", filtered)

# Multiple conditions
filtered = df[(df["passing_year"] > 2022)]
print("\nFiltered Rows with Multiple Conditions:\n", filtered)

Filtered Rows:
       id first_name   last_name                          email  gender  \
1      2         Si     Skottle      sskottle1@squarespace.com    Male
3      4     Shadow      Scarff           sscarff3@walmart.com    Male
4      5      Karim  Domenicone      kdomenicone4@sakura.ne.jp    Male
5      6    Ottilie       Adlem              oadlem5@house.gov  Female
16    17     Sharia      Filmer        sfilmerg@slideshare.net  Female
..   ...        ...         ...                            ...     ...
981  982     Muffin        Pont              mpontr9@ifeng.com  Female
986  987     Shelba     Barthod            sbarthodre@admin.ch  Female
989  990     Rodger    Baudassi  rbaudassirh@timesonline.co.uk    Male
992  993     Howard     Lankham           hlankhamrk@prlog.org    Male
997  998      Tandi    Whitlock        twhitlockrp@skyrock.com  Female

          ip_address  cgpa  passing_year        department  attendance  \
1         230.8.97.7   NaN        2023.0              Arts       76.00
3       43.41.240.67  3.27        2024.0              Arts       90.09
4        29.33.96.28  0.20        2025.0              Arts       91.36
5     243.180.33.126  3.57        2023.0  Computer Science       21.54
16    149.164.108.54  3.39        2023.0  Computer Science       35.01
..               ...   ...           ...               ...         ...
981    186.5.157.113  2.49        2023.0       Engineering       35.33
986     17.66.221.48  1.02        2025.0          Medicine        0.40
989     32.10.124.90  3.45        2025.0              Arts       27.59
992  125.213.179.210  0.14        2023.0  Computer Science       45.78
997    156.191.196.6  1.04        2023.0          Medicine       92.60

    home_district  abroad_study  student_id  graduation_date  \
1           Miami          True           2             2014
3        New York          True           4             2012
4           Miami         False           5             2008
5         Houston          True           6             2005
16        Houston          True          17             2013
..            ...           ...         ...              ...
981   Los Angeles         False         982             2018
986      New York          True         987             2000
989         Miami          True         990             2017
992   Los Angeles          True         993             2002
997      New York         False         998             2011

    study_abroad_country study_abroad_city  hsc_gpa  ssc_gpa
1                  China         Changqiao        1        3
3                 Brazil        Chã Grande        5        2
4                 Sweden          Enköping        5        5
5                 Poland         Szczaniec        4        4
16                 China              Xugu        3        3
..                   ...               ...      ...      ...
981          Philippines          Paagahan        5        3
986                China          Haizigou        2        3
989           Micronesia           Pisaras        2        5
992              Ireland           Athlone        2        4
997               Sweden            Motala        3        3

[115 rows x 18 columns]

Filtered Rows with Multiple Conditions:
       id first_name   last_name                          email  gender  \
1      2         Si     Skottle      sskottle1@squarespace.com    Male
3      4     Shadow      Scarff           sscarff3@walmart.com    Male
4      5      Karim  Domenicone      kdomenicone4@sakura.ne.jp    Male
5      6    Ottilie       Adlem              oadlem5@house.gov  Female
16    17     Sharia      Filmer        sfilmerg@slideshare.net  Female
..   ...        ...         ...                            ...     ...
981  982     Muffin        Pont              mpontr9@ifeng.com  Female
986  987     Shelba     Barthod            sbarthodre@admin.ch  Female
989  990     Rodger    Baudassi  rbaudassirh@timesonline.co.uk    Male
992  993     Howard     Lankham           hlankhamrk@prlog.org    Male
997  998      Tandi    Whitlock        twhitlockrp@skyrock.com  Female

          ip_address  cgpa  passing_year        department  attendance  \
1         230.8.97.7   NaN        2023.0              Arts       76.00
3       43.41.240.67  3.27        2024.0              Arts       90.09
4        29.33.96.28  0.20        2025.0              Arts       91.36
5     243.180.33.126  3.57        2023.0  Computer Science       21.54
16    149.164.108.54  3.39        2023.0  Computer Science       35.01
..               ...   ...           ...               ...         ...
981    186.5.157.113  2.49        2023.0       Engineering       35.33
986     17.66.221.48  1.02        2025.0          Medicine        0.40
989     32.10.124.90  3.45        2025.0              Arts       27.59
992  125.213.179.210  0.14        2023.0  Computer Science       45.78
997    156.191.196.6  1.04        2023.0          Medicine       92.60

    home_district  abroad_study  student_id  graduation_date  \
1           Miami          True           2             2014
3        New York          True           4             2012
4           Miami         False           5             2008
5         Houston          True           6             2005
16        Houston          True          17             2013
..            ...           ...         ...              ...
981   Los Angeles         False         982             2018
986      New York          True         987             2000
989         Miami          True         990             2017
992   Los Angeles          True         993             2002
997      New York         False         998             2011

    study_abroad_country study_abroad_city  hsc_gpa  ssc_gpa
1                  China         Changqiao        1        3
3                 Brazil        Chã Grande        5        2
4                 Sweden          Enköping        5        5
5                 Poland         Szczaniec        4        4
16                 China              Xugu        3        3
..                   ...               ...      ...      ...
981          Philippines          Paagahan        5        3
986                China          Haizigou        2        3
989           Micronesia           Pisaras        2        5
992              Ireland           Athlone        2        4
997               Sweden            Motala        3        3

[115 rows x 18 columns]